* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body, main, .book,
.book-info, .input-wrapper.check {
    display: flex;
}

body {
    flex-direction: column;
}

header, main {
    padding: 1.5625rem;
}

/* header styles */
.heading {
    font-size: 2.8rem;
}

.divider {
    border-bottom: 3px solid black;
}

/* main styles */

main {
    gap: 2rem;
}

.books {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
    gap: .825rem;
}

.add-book {
    border-left: 2px solid black;
    width: 25%;
}

.book {
    background-color: #f1f1f1;
    box-shadow: black 1px 2px 7px 1px;
    padding: 1.3rem;      
    gap: 1.5rem;  
}

.cover {
    width: 50%;
}

.cover > img {
    width: 100%;
}

.book-info {
    flex-direction: column;
    gap: .45rem;
}

.book-info > div {
    text-transform: capitalize;
}

.book {
    border: 1px solid black;
    transition: .7s ease;
}

.book:hover {
    background-color: #d8d8d8;
    border: 1px solid #fff;
}


.add-book form {
    padding: 1.2rem;
    text-align: center; 
}

.form-heading {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}


.input-wrapper input[type="text"], input[type="number"] {
    width: 13.75rem;
    font-size: 1.1rem;
    padding: .3rem;
    margin-top: .5rem; 
}

.input-wrapper.check {
    margin-top: .5rem;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}

.btn-wrapper {
    margin-top: .7rem;
}

.btn-wrapper button {
    padding: .2rem .5rem;
    width: 9rem;
    font-size: 1.02rem;
    background-color: #014182;
    color: #fff;
    border-radius: 6rem;
    border: none;
}

